@import "tailwindcss";

@theme {
  --color-dark: #030712;
  --color-blue: #1b5ff3;
  --color-yellow: #ffbb33;
  --color-white: #ffffff;

  --font-family-sans: 'DM Sans', sans-serif;

  --breakpoint-xs: 475px;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'DM Sans', sans-serif;
  }
}